# udev rules for Practice Monitor
# robcranfill

SUBSYSTEMS=="usb" ACTION=="add"    RUN+="/home/rob/proj/practiceMonitor/udev/trigger.sh add"
SUBSYSTEMS=="usb" ACTION=="remove" RUN+="/home/rob/proj/practiceMonitor/udev/trigger.sh remove"
